* {
  box-sizing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: hsl(0, 0%, 15%);
  --color-fg: hsl(0, 0%, 85%);
}

body {
  background-color: var(--color-bg);
  box-sizing: border-box;
  color: var(--color-fg);
  font-family: sans-serif;
  line-height: 1;
}

main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-inline: auto;
  max-width: 1280px;
  min-width: 640px;
  padding-block: 48px;
  padding-inline: 24px;
  width: 100%;
}

h1 {
  text-align: center;
}
