* {
  box-sizing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --bg: hsl(0, 0%, 10%);
  --fg: hsl(0, 0%, 85%);

  --radius: 8px;

  --unit: 24px;
}

body {
  background-color: var(--bg);
  box-sizing: border-box;
  color: var(--fg);
  font-family: sans-serif;
  line-height: 1;
}

main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) / 2);
  margin-inline: auto;
  max-width: 1280px;
  min-width: 640px;
  padding-inline: var(--unit);
  width: 100%;
}

h1 {
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
}
